# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [ ]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [ ]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [ ]:
series = pd.Series(lst)

print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [ ]:
third_value = series[2]

print(third_value)

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [ ]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [ ]:
df = pd.DataFrame(b)
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [ ]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [ ]:
f = pd.DataFrame(b)
new_column_names = ['A', 'B', 'C', 'D', 'E']
df.columns = new_column_names
print(df)

      A     B     C     D     E
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [ ]:
df = pd.DataFrame(b, columns=['Score 1', 'Score 2', 'Score 3', 'Score 4', 'Score 5'])
subset_df = df[['Score 1', 'Score 3', 'Score 5']]
print(subset_df)

   Score 1  Score 3  Score 5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [ ]:
df = pd.DataFrame(b, columns=['Score 1', 'Score 2', 'Score 3', 'Score 4', 'Score 5'])
average_score_3 = df['Score 3'].mean()
print(f"The average Score 3 value is: {average_score_3}")

The average Score 3 value is: 56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [ ]:
df = pd.DataFrame(b, columns=['Score 1', 'Score 2', 'Score 3', 'Score 4', 'Score 5'])

max_score_4 = df['Score 4'].max()
print(f"The maximum Score 4 value is: {max_score_4}")

The maximum Score 4 value is: 88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [ ]:
df = pd.DataFrame(b, columns=['Score 1', 'Score 2', 'Score 3', 'Score 4', 'Score 5'])

median_score_2 = df['Score 2'].median()
print(f"The median Score 2 value is: {median_score_2}")

The median Score 2 value is: 40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [ ]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [ ]:
df = pd.DataFrame(orders)


print(df)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [ ]:
df = pd.DataFrame(orders)


total_quantity = df['Quantity'].sum()

total_revenue = df['Revenue'].sum()

print(f"Total Quantity Ordered: {total_quantity}")
print(f"Total Revenue Generated: {total_revenue}")

Total Quantity Ordered: 2978
Total Revenue Generated: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [ ]:
df = pd.DataFrame(orders)


most_expensive = df['UnitPrice'].max()
least_expensive = df['UnitPrice'].min()


price_difference = most_expensive - least_expensive


print(f"Most Expensive Item Price: {most_expensive}")
print(f"Least Expensive Item Price: {least_expensive}")
print(f"Difference Between Most and Least Expensive Prices: {price_difference}")

Most Expensive Item Price: 11.95
Least Expensive Item Price: 0.18
Difference Between Most and Least Expensive Prices: 11.77

## Let's load another dataset for more exercisesÂº

In [ ]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../Admission_Predict.csv'

Let's evaluate the dataset by looking at the `head` function.

In [ ]:
pd.head()

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [ ]:
df.isnull().sum()

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [ ]:
df.set_index('Serial Number', drop=False, inplace=True)
print(df.head())

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [ ]:

filtered_rows = df[(df['CGPA'] > 9) & (df['Research'] == 1)]
num_rows = len(filtered_rows)

print(f"Number of rows where CGPA > 9 and Research == 1: {num_rows}")

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [ ]:

filtered_rows = df[(df['CGPA'] > 9) & (df['SOP'] < 3.5)]
print("Filtered Rows:")
print(filtered_rows)
mean_chance_of_admit = filtered_rows['Chance of Admit'].mean()
print(f"\nMean Chance of Admit for applicants with CGPA > 9 and SOP < 3.5: {mean_chance_of_admit:.2f}")